
    body{
        background-image: url("../images/darkmatter.png");
        background-position: center;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        line-height: 150%;
        color:lightgray;
    }
    .container {
        width: 960px;
        margin: 10px auto;
        overflow: auto;
        padding-bottom: 50px;
    }
    #name {
        background-color: black;
        padding: 23px;
        margin: 0px;
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 50px;
        float: left;
        height: 35px;
    }
    .nav{
        background-color: darkred;
        padding: 10px;
    }
    #footer {
        background-color: darkred;
        height: 50px;
        position: relative;
        margin-top: -50px;
        clear: both;
    }
    ol {
        padding: 10px;
    }
    li {
        color: white;
        list-style-type: none;
        margin: 5px;
        float: right;
    }
    a {
        color: darkgray;
        text-decoration: none;
        font-weight: bold;
        font-style: arial;
    }
    #space1 {
        margin-right: 10px;
    }
    #space2 {
        margin-right: 10px;
    }
    #bioimage {
        width: 400px;
        height: 380px;
        float: left;
        margin: 10px;
        padding: 5px;
        border-color: darkred;
        border-style: solid;
        border-width: 5px;
    }
    #ptitle {
        font-style: arial;
        font-size: 50px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        
    }
    hr { 
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 2px;
        border-color: darkred;
    }
