
    body{
        background-image: url("../images/darkmatter.png");
        background-position: center;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        line-height: 150%;
        color: gray;
    }
    .container {
        width: 960px;
        margin: 10px auto;
    }
    #name {
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        font-size: 40px;
        float: left;
        height: 28px;

    }
    .nav{
        float: right;
        width: 350px;
        height: 25px;
    }
    .nav a{
        text-decoration: none;
        color: gray;
        font-size: 30px;
        font-family: Arial;
        display: inline;
        background-color: darkred;
    }
    #space1 {
        margin-right: 10px;
    }
    #space2 {
        margin-right: 10px;
    }
    #bioimage {
        width: 400px;
        height: 380px;
        float: left;
        margin: 20px;
        border-color: darkred;
        border-style: solid;
        border-width: 5px;
    }
    #ptitle {
        font-style: arial;
        font-size: 35px;
        width: 100%;
        text-align: center;
        
    }